.footer {
    background-color: rgb(19,19,19);
    position: fixed;
    z-index: 69;
    bottom: 0;
    width: 100%;
    height: 2vw;

    display: flex;
    padding: 2px;
}
.footer img {
    margin: auto 0;
    justify-content: start;
    margin: 2px;

    width: 2vw;
    aspect-ratio: 1/1;
}
.footer p {
    margin: auto 0;
    padding-left: 10px;
    color: white;

    font-size: 1vw;
    font-weight: 600;

}
.txt {
    padding-left: 0px;
    transform: translateX(-5px) translateY(-2px);
}
.copyright {
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}