.GFX {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(7, 7, 7, 0.56), rgba(7, 7, 7, 0.663)), url(../assets/gfxbg.png);
    background-size: cover;
}
.WIP {
    margin: 0 auto;
    margin-top: 150px;
    color: rgb(253, 244, 255);
    font-size: 8vw;
}
.WIP2 {
    margin-top: 0 auto;
    font-size: 2vw;
    color: rgb(253, 244, 255);
}