.Home {
    width: 100%;
    height: 100%;
}

.Home h1 {
    width: 100%;

    color: rgb(253, 244, 255);
    font-weight: 1000;
    font-size: 6vw;

    text-align: left;
}
.Home h1 span {
    color: rgb(253, 244, 255);
    font-style: italic;
}
.Home h2 {
    width: 100%;

    color: rgb(253, 244, 255);
    font-weight: 1000;
    font-size: 6vw;

    text-align: left;
}
.Home h2 span {
    color: #574ae2;

    animation-name: blink;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}
.home-top {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 4vw;

}
.home-top img {
    width: 12.6vw;
    height: 22.7vw;
    margin-right: 0;
}
.home-text {
    margin-left: 1vw;
}





.goButton {
    margin-top: 1vw;
    width: 10vw;

    border-style: solid;
    border-width: 0.3vw;
    border-color: rgb(253, 244, 255);
    border-radius: 15px;

    padding: 5px;
}
.goButton a {
    margin-bottom: 50%;
    width: 100%;
    font-weight: 100;
    font-size: 2vw;
    color: rgb(253, 244, 255);
}
.goButton div {
    width: 10vw;
    height: 100%;
}
.goButton:hover {
    border-color: #574ae2;
    filter: drop-shadow(0px 0px 20px #4444dd);
}
.goButton div:hover {
    animation-name: blink;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
}
@keyframes dotdot {
    0% {opacity: 0%;}
    50% {opacity: 100%;}
    100% {opacity: 0%;}
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink {
    50% {
        opacity: 0%;
    }
}



.about-me {
    margin-top: 10vw;
    margin-bottom: 5vw;
}
.about-me h1 {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 4vw;
}
.ab-card-holder {
    aspect-ratio: 1180/340;
    width: 44.952381vw;
    height: 12.952381vw;
    
    background: url(../assets/link-cards/plain.png) center center no-repeat;
    background-size: auto 100%;
}
.ab-card-holder:hover {
    border-color: #574ae2;
    filter: drop-shadow(0px 0px 10px #4444dd98);
    width: 47.2vw;
    height: 13.6vw;
}
.ab-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;

    margin: 0;
}

.ab-card p {
    color: rgb(253, 244, 255);
    font-size: 1.3vw;

    text-align: left;

    margin-top: 3vw;
    margin-left: 5.5vw;
    text-shadow: 0 0 20px black;
    filter: drop-shadow(0px 0px 10px #4444dd98);
}
.ab-card p span {
    font-weight: 1000;
    font-size: 3vw;
}
.ab-card img {
    margin: 0;
    margin-left: 3.6vw;
    margin-top: 1.7vw;

    width: 6vw;

    filter: drop-shadow(0px 0px 10px #4444dd98);
}
.ab-card-holder:hover .ab-card img {
    margin-top: 1.9vw;
    margin-left: 3.8vw;
    width: 6.3vw;
}
.ab-card-holder:hover .ab-card p span{
    font-size: 3.4vw;
}
.ab-card-holder:hover .ab-card p {
    font-size: 1.4vw;
}




.ab-card-holder-small {
    aspect-ratio: 1180/340;
    width: 475px;
    height: 136.864407px;
    
    background: url(../assets/link-cards/plain.png) center center no-repeat;
    background-size: auto 100%;
}
.ab-card-holder-small:hover {
    border-color: #574ae2;
    filter: drop-shadow(0px 0px 10px #4444dd98);
}
.ab-card-small {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;

    margin: 0;
}

.ab-card-small p {
    color: rgb(253, 244, 255);
    font-size: 14px;

    text-align: left;

    margin-top: 30px;
    margin-left: 55px;
    text-shadow: 0 0 20px black;
    filter: drop-shadow(0px 0px 10px #4444dd98);
}
.ab-card-small p span {
    font-weight: 1000;
    font-size: 30px;
}
.ab-card-small img {
    margin: 0;
    margin-left: 40px;
    margin-top: 23px;

    width: 60px;

    filter: drop-shadow(0px 0px 10px #4444dd98);
}




.ab-card-holder-smaller {
    aspect-ratio: 1180/340;
    width: 300px;
    height: 86.440678px;
    
    background: url(../assets/link-cards/plain.png) center center no-repeat;
    background-size: auto 100%;
}
.ab-card-holder-smaller:hover {
    border-color: #574ae2;
    filter: drop-shadow(0px 0px 10px #4444dd98);
}
.ab-card-smaller {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;

    margin: 0;
}

.ab-card-smaller p {
    color: rgb(253, 244, 255);
    font-size: 9px;

    text-align: left;

    margin-top: 20px;
    margin-left: 35px;
    text-shadow: 0 0 20px black;
    filter: drop-shadow(0px 0px 10px #4444dd98);
}
.ab-card-smaller p span {
    font-weight: 1000;
    font-size: 20px;
}
.ab-card-smaller img {
    margin: 0;
    margin-left: 24px;
    margin-top: 10px;

    width: 40px;

    filter: drop-shadow(0px 0px 10px #4444dd98);
}
